

#searchResults
{
	
}

#searchResults .searchResult
{
	width: 700px;
	height: 150px;
	border: 1px solid black;
	margin: 10px 0px;
	padding: 10px;
}

#searchResults .premium
{
	border: 4px solid black;
}