/*
Document   : sir.scss
Created on : May 22, 2014, 1:00:43 PM
Author     : gly
Description: combining partials for sir
*/
/*
Document   : def/_left_nav.scss
Created on : Jun 27, 2013, 10:00:43 AM
Author     : gly
Description: default styles for left sub-navigation
*/
#body {
  background: transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  padding: 0;
}
#body #sidebar {
  width: 191px;
  float: left;
}
#body #sidebar .topBar {
  position: relative;
  height: 4px;
  border-radius: 6px 6px 0 0;
  background: #0a89cd;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #13b5ea), color-stop(100%, #0a89cd));
  background-image: -webkit-linear-gradient(#13b5ea 0%, #0a89cd 100%);
  background-image: -moz-linear-gradient(#13b5ea 0%, #0a89cd 100%);
  background-image: -o-linear-gradient(#13b5ea 0%, #0a89cd 100%);
  background-image: -ms-linear-gradient(#13b5ea 0%, #0a89cd 100%);
  background-image: linear-gradient(#13b5ea 0%, #0a89cd 100%);
  -pie-background: linear-gradient(top, #13b5ea 0%, #0a89cd 100%);
}
#body #sidebar ul#nav li {
  display: block;
  position: relative;
  background: url(/img/icons/bullets/light_blue_arrow.png) no-repeat 170px center;
  background-color: #d6dce4;
  border: 1px solid #d6dce4;
  color: #2e3235;
  font-size: 13px;
  padding: 0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  behavior: url(/css/PIE.htc);
  margin-top: 4px;
}
#body #sidebar ul#nav li.selected {
  background-color: transparent;
  padding: 8px 15px;
  font-weight: bold;
}
#body #sidebar ul#nav li a {
  padding: 8px 15px;
  display: block;
  color: #2e3235;
  text-decoration: none;
  font-size: 13px;
}
#body #content {
  position: relative;
  float: right;
  margin-left: 15px;
  width: 730px;
  background: #ffffff;
  padding: 5px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  behavior: url(/css/PIE.htc);
  margin-bottom: 80px;
  padding-bottom: 20px;
}
#body.liquid {
  position: relative;
  width: auto;
  min-width: 960px;
}
#body.liquid #sidebar {
  margin: 0;
}
#body.liquid #content {
  position: absolute;
  float: none;
  margin-left: 0;
  left: 216px;
  width: auto;
}

/*
Document   : partials/def/_context_help.scss
Created on : Aug 24, 2012, 4:00:43 PM
Author     : gly
Description: default styles for contextual help
*/
.cHelp {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 15px;
  height: 15px;
  _width: 15px;
  _height: 15px;
  background: url(/img/icons/small/help.png) no-repeat 5px 0 transparent;
  padding-left: 5px;
}
.cHelp.dark {
  background: url(/img/icons/small/help_dark.png) no-repeat 5px 0 transparent;
}

#modal, #modalContact, .modal_new, .modal, #modalBig {
  display: none;
  z-index: 99999;
  width: 400px;
}
#modal .modalControls, #modalContact .modalControls, .modal_new .modalControls, .modal .modalControls, #modalBig .modalControls {
  height: 55px;
}
#modal .modalControls .close, #modalContact .modalControls .close, .modal_new .modalControls .close, .modal .modalControls .close, #modalBig .modalControls .close {
  position: relative;
  float: right;
  font-size: 14px;
  font-weight: bold;
  color: #13b5ea;
  background: #fcfdfe;
  padding: 10px 20px;
  cursor: pointer;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  behavior: url(/css/PIE.htc);
}
#modal .modalBody, #modalContact .modalBody, .modal_new .modalBody, .modal .modalBody, #modalBig .modalBody {
  position: relative;
  padding: 5px;
  background: #ffffff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  behavior: url(/css/PIE.htc);
}
#modal .modalBody .modalContent, #modalContact .modalBody .modalContent, .modal_new .modalBody .modalContent, .modal .modalBody .modalContent, #modalBig .modalBody .modalContent {
  padding: 5px 10px 10px 10px;
  color: #525c64;
  font-size: 12px;
  line-height: 1.4;
}
#modal .modalBody .modalContent p, #modalContact .modalBody .modalContent p, .modal_new .modalBody .modalContent p, .modal .modalBody .modalContent p, #modalBig .modalBody .modalContent p {
  font-size: 12px;
  color: #2e3235;
  margin-bottom: 10px;
}
#modal .modalBody .modalContent .red, #modalContact .modalBody .modalContent .red, .modal_new .modalBody .modalContent .red, .modal .modalBody .modalContent .red, #modalBig .modalBody .modalContent .red {
  color: #e81e24;
}

#modal {
  width: 898px;
}
#modal .modalBody h1.styled {
  margin-bottom: 5px;
}

div.itemselector.inner {
  width: 867px;
  color: #525c64;
  margin: 10px;
}
div.itemselector.inner > .left, div.itemselector.inner > .right {
  width: 393px;
  padding: 10px;
  border: 1px solid #d6dce4;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
div.itemselector.inner > .left input.filterField, div.itemselector.inner > .right input.filterField {
  width: 349px;
}
div.itemselector.inner > .left > ul, div.itemselector.inner > .right > ul {
  height: 327px;
  margin-bottom: 4px;
  padding: 10px;
  border: 1px solid #d6dce4;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  overflow-y: auto;
  /*added due to Marks rquest */
}
div.itemselector.inner > .left > ul li, div.itemselector.inner > .right > ul li {
  list-style: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  font-size: 12px;
  padding-left: 23px;
  cursor: pointer;
  line-height: 20px;
 /*
 !!! changed due to marks request !!!!

 */
}
div.itemselector.inner > .left > ul.left li.indent0, div.itemselector.inner > .right > ul.left li.indent0 {
  margin-left: 0px;
}
div.itemselector.inner > .left > ul.left li.indent1, div.itemselector.inner > .right > ul.left li.indent1 {
  margin-left: 23px;
}
div.itemselector.inner > .left > ul.left li.indent2, div.itemselector.inner > .right > ul.left li.indent2 {
  margin-left: 46px;
}
div.itemselector.inner > .left > ul.left li.indent3, div.itemselector.inner > .right > ul.left li.indent3 {
  margin-left: 69px;
}
div.itemselector.inner > .left > ul.left li.indent4, div.itemselector.inner > .right > ul.left li.indent4 {
  margin-left: 92px;
}
div.itemselector.inner > .left > ul.left li.indent5, div.itemselector.inner > .right > ul.left li.indent5 {
  margin-left: 115px;
}
div.itemselector.inner > .left > ul.left li.indent6, div.itemselector.inner > .right > ul.left li.indent6 {
  margin-left: 138px;
}
div.itemselector.inner > .left > ul.left li.indent7, div.itemselector.inner > .right > ul.left li.indent7 {
  margin-left: 161px;
}
div.itemselector.inner > .left > ul.left li.indent8, div.itemselector.inner > .right > ul.left li.indent8 {
  margin-left: 184px;
}
div.itemselector.inner > .left > ul.left li.indent9, div.itemselector.inner > .right > ul.left li.indent9 {
  margin-left: 207px;
}
div.itemselector.inner > .left > ul.left.filtered li, div.itemselector.inner > .right > ul.left.filtered li {
  margin-left: 0;
}
div.itemselector.inner > .left > ul.left.filtered li.hasVisibleChild, div.itemselector.inner > .right > ul.left.filtered li.hasVisibleChild {
  display: none;
}
div.itemselector.inner > .left h3, div.itemselector.inner > .right h3 {
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: bold;
}
div.itemselector.inner > .left {
  float: left;
}
div.itemselector.inner > .left ul {
  height: 348px;
}
div.itemselector.inner > .left ul li {
  display: block;
  background: url(/img/icons/small/greenplus.png) left center no-repeat transparent;
}
div.itemselector.inner > .left ul li.selected {
  display: none;
}
div.itemselector.inner > .left ul li.hasVisibleChild {
  background: url(/img/icons/small/grayplus.png) left center no-repeat transparent;
}
div.itemselector.inner > .right {
  float: right;
}
div.itemselector.inner > .right ul li {
  display: none;
  background: url(/img/icons/small/smallredx.png) left center no-repeat transparent;
}
div.itemselector.inner > .right ul li.selected {
  display: block;
}
div.itemselector.inner > .right ul li.hasVisibleChild {
  background: url(/img/icons/small/smallgrayx.png) left center no-repeat transparent;
}
div.itemselector.inner > .left ul li.hasVisibleChild, div.itemselector.inner > .right ul li.hasVisibleChild {
  display: block;
  opacity: 0.5;
  cursor: default;
}
div.itemselector.inner > .left ul li.filteredOut, div.itemselector.inner > .right ul li.filteredOut {
  display: none;
}
div.itemselector.inner > .right ul li.hasVisibleChild {
  display: none;
}
div.itemselector.inner > .divider {
  float: left;
  width: 34px;
  height: 429px;
  background: url(/img/itemselector/arrow.png) no-repeat center center transparent;
}
div.itemselector.inner .buttonContainer {
  clear: both;
  border-top: 1px solid #d8dee5;
  width: 878px;
  margin-left: -15px;
  margin-top: 43px;
  text-align: center;
  position: relative;
  padding: 10px;
  background: #f5f7fa;
  top: 20px;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  -ms-border-radius: 0 0 6px 6px;
  -o-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  behavior: url(/css/PIE.htc);
}
div.itemselector.inner input.filter {
  width: 349px;
}
