<!-- Temporary , foramt properly with css -->
<div id="shipservDateRangePicker" class="shipservDateRangePicker">
	<div>
		<ul>
			<li data-range="1" class="shipserv-rangeselect">Last week</li>
			<li data-range="2" class="shipserv-rangeselect">Last Month</li>
			<li data-range="3" class="shipserv-rangeselect">Last Quarter</li>
			<li data-range="4" class="shipserv-rangeselect">Last Year</li>
			<li data-range="5" class="shipserv-rangeselect">13 - 24 Month back from now</li>
			<li data-range="custom" class="shipserv-rangeselect customrange">Custom Range</li>
		</ul>
		<div class="shipservCalendar">
			<input id="shipservCalendarFromLabel" type="text" value="">
			<div id="shipservCalendarFrom"></div>
		</div>
		<div class="shipservCalendar">
			<input id="shipservCalendarToLabel" type="text" value="">
			<div id="shipservCalendarTo"></div>
		</div>
	</div>

	<div class="range_inputs">
		<button class="applyBtn btn green shipservCalendarSelect" type="button">Select</button>
		<button class="cancelBtn btn transparent transparent-blue shipservCalendarClose" type="button">Cancel</button>
	</div>
</div>
