/* Basic styles, Copied from old tradenet login page, it may be good to refactgor this to use compass SASS */
.style1 {
	color: #444
}

.style5 {
	font-size: 12pt;
	font-weight: bold;
}

.style6 {
	font-size: 8pt;
	font-weight: bold;
	color: #FF0000;
}

.style7 {
	font-size: 10pt
}

.style9 {
	font-size: 12pt;
	color: #444;
}

.style10 {
	font-size: 10pt;
	font-weight: bold;
}

.style11 {
	font-size: 9.5pt;
}

.padMe {
	padding-left: 72px;
	padding-top: 15px;
}

.new-username-and-password-p {
	font-size: 10pt;
}

.new-username-and-password-p label {
	display: inline-block;
	width: 70px;
}
.new-username-and-password-p input {
	margin-bottom: 5px;
}

/* Document styles */

HTML {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, sans-serif; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
BODY {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, sans-serif; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
DIV {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, sans-serif; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
SPAN {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, sans-serif; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
APPLET {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, sans-serif; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
OBJECT {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, sans-serif; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
IFRAME {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, sans-serif; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
H1 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, sans-serif; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
H2 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, sans-serif; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
H3 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, sans-serif; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
H4 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, sans-serif; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
H5 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, sans-serif; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
H6 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, sans-serif; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
P {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, sans-serif; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
BLOCKQUOTE {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, sans-serif; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
PRE {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, sans-serif; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
A {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, sans-serif; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
ABBR {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, sans-serif; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
ACRONYM {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, sans-serif; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
ADDRESS {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, sans-serif; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
BIG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, sans-serif; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
CITE {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, sans-serif; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
CODE {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, sans-serif; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
DEL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, sans-serif; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
DFN {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, sans-serif; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
EM {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, sans-serif; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
FONT {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, sans-serif; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, sans-serif; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
INS {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, sans-serif; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
KBD {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, sans-serif; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
Q {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, sans-serif; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
S {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, sans-serif; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
SAMP {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, sans-serif; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
SMALL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, sans-serif; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
STRIKE {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, sans-serif; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
STRONG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, sans-serif; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
SUB {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, sans-serif; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
SUP {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, sans-serif; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
TT {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, sans-serif; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
VAR {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, sans-serif; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
DL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, sans-serif; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
DT {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, sans-serif; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
DD {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, sans-serif; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
OL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, sans-serif; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, sans-serif; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, sans-serif; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
FIELDSET {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, sans-serif; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
FORM {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, sans-serif; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 10px
}
INPUT {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, sans-serif; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
LABEL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, sans-serif; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
LEGEND {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, sans-serif; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
TABLE {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, sans-serif; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
CAPTION {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, sans-serif; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
TBODY {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, sans-serif; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
TFOOT {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, sans-serif; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
THEAD {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, sans-serif; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
TR {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, sans-serif; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
TH {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, sans-serif; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
TD {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, sans-serif; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
FIELDSET {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
IMG {
	DISPLAY: block
}
.button A:focus {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: 0px
}
BODY {
	LINE-HEIGHT: 1; BACKGROUND-COLOR: #fff; FONT-FAMILY: Arial, sans-serif; COLOR: #444; FONT-SIZE: 14px
}
TEXTAREA {
	LINE-HEIGHT: 1; BACKGROUND-COLOR: #fff; FONT-FAMILY: Arial, sans-serif; COLOR: #444; FONT-SIZE: 14px
}
OL {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
UL {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
TABLE {
	BORDER-SPACING: 0; BORDER-COLLAPSE: separate
}
CAPTION {
	TEXT-ALIGN: left; FONT-WEIGHT: normal
}
TH {
	TEXT-ALIGN: left; FONT-WEIGHT: normal
}
TD {
	TEXT-ALIGN: left; FONT-WEIGHT: normal
}
STRONG {
	FONT-WEIGHT: bold
}
EM {
	FONT-STYLE: italic
}
A:link {
	COLOR: #6f988a; TEXT-DECORATION: none
}
A:visited {
	COLOR: #6f988a; TEXT-DECORATION: none
}
A:hover {
	COLOR: #64a6d9; TEXT-DECORATION: underline
}
A:active {
	COLOR: #64a6d9; TEXT-DECORATION: underline
}
H1 {
	FONT-SIZE: 1.3em; FONT-WEIGHT: bold
}
H2 {
	FONT-SIZE: 1.2em; FONT-WEIGHT: bold
}
H3 {
	FONT-SIZE: 1.1em; FONT-WEIGHT: bold
}
#maincopy H2 {
	MARGIN-TOP: 1.2em; MARGIN-BOTTOM: -0.4em
}
#maincopy H3 {
	MARGIN-TOP: 1.2em; MARGIN-BOTTOM: -0.4em
}
P {
	LINE-HEIGHT: 16px; MARGIN: 0.8em 0px
}
UL {
	LINE-HEIGHT: 16px; MARGIN: 0.8em 0px
}
OL {
	LINE-HEIGHT: 16px; MARGIN: 0.8em 0px
}
BLOCKQUOTE {
	LINE-HEIGHT: 16px; MARGIN: 0.8em 0px
}
CITE {
	LINE-HEIGHT: 16px; MARGIN: 0.8em 0px
}
A.more {
	WHITE-SPACE: nowrap
}
P.first {
	MARGIN-TOP: 0px
}
UL.first {
	MARGIN-TOP: 0px
}
OL.first {
	MARGIN-TOP: 0px
}
.nav {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 1; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.headingbox STRONG {
	COLOR: #f3e400
}
BLOCKQUOTE {
	MARGIN-BOTTOM: 0.25em; COLOR: #6c6f64
}
CITE {
	MARGIN-TOP: 0.25em; COLOR: #afb9a4; FONT-SIZE: 0.85em
}
DL {
	MARGIN: 1em 0px
}
DT {
	FONT-WEIGHT: bold
}
DD {
	MARGIN-BOTTOM: 0.5em
}
#maincopy UL {
	LIST-STYLE-TYPE: disc; PADDING-LEFT: 1.1em
}
#maincopy UL.showcase LI {
	MARGIN-BOTTOM: 0em
}
#maincopy UL.subnav {
	LIST-STYLE-TYPE: none; PADDING-LEFT: 0px
}
#maincopy UL.subnav LI {
	MARGIN: 0.8em 0px
}
#maincopy UL.subnav H3 {
	MARGIN-BOTTOM: 0px; FONT-SIZE: 1.1em; FONT-WEIGHT: bold
}
#maincopy UL.subnav P {
	MARGIN-TOP: 0px
}
.jumplink {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 22px; BACKGROUND: url(/img/tnet/arrow-down.gif) no-repeat right center; PADDING-TOP: 2px
}
.jumplink:link {
	
}
.jumplink:visited {
	
}
INPUT.textbox {
	BORDER-BOTTOM: #6c6f64 1px solid; BORDER-LEFT: #6c6f64 1px solid; BORDER-TOP: #6c6f64 1px solid; BORDER-RIGHT: #6c6f64 1px solid
}
INPUT.button {
	BORDER-RIGHT-WIDTH: 0px; BACKGROUND-COLOR: #6c6f64; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; COLOR: #fff; BORDER-LEFT-WIDTH: 0px
}
INPUT.button:hover {
	BACKGROUND-COLOR: #64a6d9
}
INPUT.button:active {
	BACKGROUND-COLOR: #64a6d9
}
TABLE {
	MARGIN: 0.8em 0px
}
TH {
	BORDER-BOTTOM: #888 1px dotted; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; COLOR: #888; FONT-SIZE: 0.9em; VERTICAL-ALIGN: middle; PADDING-TOP: 2px
}
TD {
	BORDER-BOTTOM: #888 0px dotted; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 0.9em; VERTICAL-ALIGN: top; PADDING-TOP: 0px
}
TABLE .logo {
	TEXT-ALIGN: center
}
TABLE .companyname {
	PADDING-LEFT: 20px; PADDING-RIGHT: 20px
}
TABLE .location {
	TEXT-ALIGN: center
}
#page {
	MARGIN: 0px auto; WIDTH: 977px
}
#header {
	PADDING-TOP: 10px
}
#skiplinks {
	DISPLAY: none
}
#logo {
	DISPLAY: block; MARGIN-BOTTOM: 10px; FLOAT: left
}
#headernav {
	WIDTH: 750px; FLOAT: right
}
#main {
	WIDTH: 977px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left top; FLOAT: left; CLEAR: both
}
#sidenav {
	WIDTH: 198px; FLOAT: left; CLEAR: left; MARGIN-RIGHT: 12px
}
#content {
	WIDTH: 554px; FLOAT: left
}
.headingbox .inner {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 24px; PADDING-RIGHT: 24px; PADDING-TOP: 0px
}
.headingbox H1 {
	TEXT-INDENT: -999em
}
#maincopy {
	PADDING-BOTTOM: 12px; PADDING-LEFT: 24px; PADDING-RIGHT: 12px; PADDING-TOP: 18px
}
.buyer #maincopy {
	PADDING-TOP: 0px
}
.tradenet #maincopy {
	PADDING-TOP: 0px
}
.community #maincopy {
	PADDING-TOP: 0px
}
#sidebar {
	WIDTH: 191px; FLOAT: right; PADDING-TOP: 10px
}
#footer {
	CLEAR: both
}
#footer P {
	FLOAT: left; COLOR: #aaa; FONT-SIZE: 0.85em; padding-left: 6px;
}
#footer #velocity {
	TEXT-ALIGN: right; FLOAT: right
}
#footer #velocity A {
	PADDING-RIGHT: 15px; BACKGROUND: url(/img/tnet/velocity-logo.gif) no-repeat right center
}
#sidenav {
	BACKGROUND: url(/img/tnet/dot.gif) repeat-x left top; PADDING-TOP: 20px
}
#sidenav UL.nav {
	LINE-HEIGHT: 16px
}
#sidenav UL.nav LI {
	
}
#sidenav UL UL {
	MARGIN: 0px; PADDING-LEFT: 12px; DISPLAY: none
}
#sidenav UL .current_page_item UL {
	DISPLAY: block
}
#sidenav UL .current_page_parent UL {
	DISPLAY: block
}
#sidenav UL .current-cat UL {
	DISPLAY: block
}
#sidenav UL .current-cat-parent UL {
	DISPLAY: block
}
#sidenav .current_page_item A:link {
	COLOR: #111
}
#sidenav .current_page_item A:visited {
	COLOR: #111
}
#sidenav .current-cat A:link {
	COLOR: #111
}
#sidenav .current-cat A:visited {
	COLOR: #111
}
#sidenav .current_page_item UL A:link {
	COLOR: #6f988a
}
#sidenav .current_page_item UL A:visited {
	COLOR: #6f988a
}
#sidenav .current-cat UL A:link {
	COLOR: #6f988a
}
#sidenav .current-cat UL A:visited {
	COLOR: #6f988a
}
#sidenav .current_page_item A:hover {
	COLOR: #64a6d9
}
#sidenav .current_page_item A:active {
	COLOR: #64a6d9
}
#sidenav .current_page_item UL A:hover {
	COLOR: #64a6d9
}
#sidenav .current_page_item UL A:active {
	COLOR: #64a6d9
}
#sidenav .current-cat A:hover {
	COLOR: #64a6d9
}
#sidenav .current-cat A:active {
	COLOR: #64a6d9
}
#sidenav .current-cat UL A:hover {
	COLOR: #64a6d9
}
#sidenav .current-cat UL A:active {
	COLOR: #64a6d9
}
.headingbox P {
	COLOR: #fff
}
#topnav LI {
	FLOAT: left
}
#topnav LI.button {
	MARGIN-RIGHT: 5px
}
#topnav LI.button {
	BACKGROUND-COLOR: transparent; TEXT-INDENT: -999em; WIDTH: 155px; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left bottom; HEIGHT: 19px
}
#topnav LI.button A {
	BACKGROUND-COLOR: transparent; TEXT-INDENT: -999em; WIDTH: 155px; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left bottom; HEIGHT: 19px
}
#webshopnav {
	BACKGROUND-IMAGE: url(/img/tnet/btn-webshop.gif)
}
#webshopnav A {
	BACKGROUND-IMAGE: url(/img/tnet/btn-webshop.gif)
}
#tradenetnav {
	BACKGROUND-IMAGE: url(/img/tnet/btn-tradenet.gif)
}
#tradenetnav A {
	BACKGROUND-IMAGE: url(/img/tnet/btn-tradenet.gif)
}
#pagesnav {
	BACKGROUND-IMAGE: url(/img/tnet/btn-pages.gif)
}
#pagesnav A {
	BACKGROUND-IMAGE: url(/img/tnet/btn-pages.gif)
}
#topnav .button A:link {
	BACKGROUND-POSITION: left top
}
#topnav .button A:visited {
	BACKGROUND-POSITION: left top
}
#topnav .button A:hover {
	BACKGROUND-POSITION: left bottom
}
#topnav .button A:active {
	BACKGROUND-POSITION: left bottom
}
#topnav #searchnav {
	TEXT-ALIGN: right; MARGIN-BOTTOM: 8px; FLOAT: right
}
#topnav #searchnav INPUT {
	VERTICAL-ALIGN: top
}
#topnav INPUT.textbox {
	WIDTH: 170px; HEIGHT: 17px; MARGIN-RIGHT: 2px
}
#topnav INPUT.button {
	WIDTH: 80px; HEIGHT: 19px; FONT-SIZE: 13px
}
#secondnav {
	TEXT-ALIGN: right; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; CLEAR: right; PADDING-TOP: 0px
}
#secondnav IMG {
	VERTICAL-ALIGN: middle
}
.rss {
	BACKGROUND-IMAGE: url(/img/tnet/icon-rss.png); BACKGROUND-COLOR: transparent; PADDING-LEFT: 18px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left center
}
DIV#breadcrumbs {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 7px; PADDING-RIGHT: 0px; FONT-SIZE: 0.78em; PADDING-TOP: 25px
}
.home #breadcrumbs {
	PADDING-TOP: 33px
}
.home #breadcrumbs P {
	MARGIN: 0px 0px 4px; COLOR: #636d5a; FONT-SIZE: 1.1em; FONT-WEIGHT: bold
}
.home #main {
	BACKGROUND-IMAGE: url(/img/tnet/bkgd-home.jpg)
}
.home #content .headingbox .inner {
	HEIGHT: 218px
}
.home .headingbox H1 {
	BACKGROUND: url(/img/tnet/hb-home-top.jpg) no-repeat center top; HEIGHT: 181px
}
.home .headingbox {
	BACKGROUND: url(/img/tnet/hb-home-bottom.jpg) no-repeat center bottom; HEIGHT: 482px
}
.home .headingbox IMG {
	FLOAT: right; MARGIN-RIGHT: 20px
}
.home .headingbox P {
	WIDTH: 280px
}
#sidenav UL.nav {
	MIN-HEIGHT: 470px
}
.home .headingbox UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 12px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.home .quote {
	WIDTH: 280px; PADDING-TOP: 20px
}
.home .quote IMG {
	MARGIN-TOP: 1em
}
.home #sidebar {
	PADDING-TOP: 0px
}
.home .teasers {
	PADDING-BOTTOM: 10px
}
.buyer .headingbox P {
	PADDING-TOP: 210px
}
.buyer .headingbox {
	BACKGROUND-IMAGE: url(/img/tnet/hb-buyer.jpg); HEIGHT: 297px
}
.buyer #sidebar {
	PADDING-TOP: 112px
}
.tradenet .headingbox {
	BACKGROUND-IMAGE: url(/img/tnet/hb-tradenet.jpg); HEIGHT: 480px
}
.tradenet .headingbox P.first {
	WIDTH: 440px; PADDING-TOP: 320px
}
.tradenet .headingbox P.last {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #444; PADDING-TOP: 20px
}
.community #main {
	BACKGROUND-IMAGE: url(/img/tnet/bkgd-community.jpg)
}
.community .headingbox P {
	WIDTH: 440px; PADDING-TOP: 195px
}
.community .headingbox {
	BACKGROUND-IMAGE: url(/img/tnet/hb-community.jpg); HEIGHT: 297px
}
#maincopy H2#buyerlist {
	MARGIN-TOP: 2em
}
.community #sidebar {
	PADDING-TOP: 240px
}
.community #sidebar .highlights .last {
	PADDING-BOTTOM: 5px
}
#buyerbtn {
	FLOAT: left; MARGIN-RIGHT: 2px
}
#supplierbtn {
	FLOAT: left
}
#buyerbtn {
	TEXT-INDENT: -999em; WIDTH: 264px; DISPLAY: block; BACKGROUND: url(/img/tnet/btn-home-buyer.jpg) no-repeat left bottom; HEIGHT: 72px
}
#buyerbtn A {
	TEXT-INDENT: -999em; WIDTH: 264px; DISPLAY: block; BACKGROUND: url(/img/tnet/btn-home-buyer.jpg) no-repeat left bottom; HEIGHT: 72px
}
#supplierbtn {
	TEXT-INDENT: -999em; WIDTH: 264px; DISPLAY: block; BACKGROUND: url(/img/tnet/btn-home-buyer.jpg) no-repeat left bottom; HEIGHT: 72px
}
#supplierbtn A {
	TEXT-INDENT: -999em; WIDTH: 264px; DISPLAY: block; BACKGROUND: url(/img/tnet/btn-home-buyer.jpg) no-repeat left bottom; HEIGHT: 72px
}
#supplierbtn {
	BACKGROUND-IMAGE: url(/img/tnet/btn-home-supplier.jpg)
}
#supplierbtn A {
	BACKGROUND-IMAGE: url(/img/tnet/btn-home-supplier.jpg)
}
#buyerbtn A:link {
	BACKGROUND-POSITION: left top
}
#buyerbtn A:visited {
	BACKGROUND-POSITION: left top
}
#supplierbtn A:link {
	BACKGROUND-POSITION: left top
}
#supplierbtn A:visited {
	BACKGROUND-POSITION: left top
}
#buyerbtn A:hover {
	BACKGROUND-POSITION: left bottom
}
#buyerbtn A:active {
	BACKGROUND-POSITION: left bottom
}
#supplierbtn A:hover {
	BACKGROUND-POSITION: left bottom
}
#supplierbtn A:active {
	BACKGROUND-POSITION: left bottom
}
.teasers LI {
	PADDING-TOP: 10px
}
.highlights LI {
	PADDING-TOP: 10px
}
.teasers LI.first {
	PADDING-TOP: 0px
}
.teasers LI .inner {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 16px; BACKGROUND: url(/img/tnet/sb-dotted-line.gif) no-repeat right bottom
}
.highlights LI {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 16px; BACKGROUND: url(/img/tnet/sb-dotted-line.gif) no-repeat right bottom
}
.highlights LI {
	BACKGROUND-POSITION: right top
}
.teasers LI.last .inner {
	BACKGROUND-IMAGE: none; PADDING-BOTTOM: 0px
}
.teasers LI.last {
	BACKGROUND-IMAGE: none; PADDING-BOTTOM: 0px
}
.teasers H3 {
	BACKGROUND-COLOR: transparent; TEXT-INDENT: -999em; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left top
}
.highlights H3 {
	TEXT-INDENT: 0px; FONT-WEIGHT: bold
}
.highlights H4 {
	COLOR: #444; FONT-WEIGHT: normal
}
.highlights {
	COLOR: #888; FONT-SIZE: 110%
}
#pagesteaser H3 {
	BACKGROUND-IMAGE: url(/img/tnet/sb-heading-pages.gif); WIDTH: 98px; HEIGHT: 37px
}
#tradenetteaser H3 {
	BACKGROUND-IMAGE: url(/img/tnet/sb-heading-tradenet.gif); WIDTH: 98px; HEIGHT: 37px
}
#connect08teaser H3 {
	BACKGROUND-IMAGE: url(/img/tnet/sb-heading-connect08.gif); WIDTH: 124px; HEIGHT: 55px
}
#howtnworks H3 {
	BACKGROUND-IMAGE: url(/img/tnet/sb-heading-howtnworks.gif); WIDTH: 163px; MARGIN-BOTTOM: 10px; HEIGHT: 57px
}
.teasers P {
	MARGIN: 0px 0px 0.4em; FONT-SIZE: 0.85em
}
.highlights P {
	MARGIN: 0px 0px 0.4em; FONT-SIZE: 0.85em
}
.highlights P {
	FONT-SIZE: 1em
}
.teasers .button {
	BACKGROUND-COLOR: transparent; TEXT-INDENT: -999em; WIDTH: 125px; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left bottom; HEIGHT: 19px
}
.teasers .button A {
	BACKGROUND-COLOR: transparent; TEXT-INDENT: -999em; WIDTH: 125px; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left bottom; HEIGHT: 19px
}
#pagesteaser .button {
	BACKGROUND-IMAGE: url(/img/tnet/btn-searchnow.gif)
}
#pagesteaser .button A {
	BACKGROUND-IMAGE: url(/img/tnet/btn-searchnow.gif)
}
#tradenetteaser .button {
	BACKGROUND-IMAGE: url(/img/tnet/btn-findoutmore1.gif)
}
#tradenetteaser .button A {
	BACKGROUND-IMAGE: url(/img/tnet/btn-findoutmore1.gif)
}
#connect08teaser .button {
	BACKGROUND-IMAGE: url(/img/tnet/btn-findoutmore2.gif)
}
#connect08teaser .button A {
	BACKGROUND-IMAGE: url(/img/tnet/btn-findoutmore2.gif)
}
#howtnworks .button {
	BACKGROUND-IMAGE: url(/img/tnet/btn-enlarge.gif)
}
#howtnworks .button A {
	BACKGROUND-IMAGE: url(/img/tnet/btn-enlarge.gif)
}
.teasers .button A:link {
	BACKGROUND-POSITION: left top
}
.teasers .button A:visited {
	BACKGROUND-POSITION: left top
}
.teasers .button A:hover {
	BACKGROUND-POSITION: left bottom
}
.teasers .button A:active {
	BACKGROUND-POSITION: left bottom
}
.tradenet #sidebar {
	PADDING-TOP: 0px
}
#howtnworks {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 16px
}
#howtnworks .inner {
	BACKGROUND: url(/img/tnet/dot.gif) repeat-x center top; PADDING-TOP: 10px
}
#howtnworks .button {
	MARGIN-TOP: 10px
}
#sidebar DIV.quotes {
	PADDING-LEFT: 16px; MARGIN-BOTTOM: 20px
}
#sidebar DIV.quotes .inner {
	BACKGROUND: url(/img/tnet/dot.gif) repeat-x center top; PADDING-TOP: 10px
}
#sidebar BLOCKQUOTE {
	MARGIN-TOP: 0px; FONT-SIZE: 1.1em
}
#sidebar CITE {
	DISPLAY: block; MARGIN-BOTTOM: 10px; FONT-SIZE: 1.1em
}
#headlines {
	BACKGROUND-IMAGE: url(/img/tnet/headlinesbox-middle.png); BACKGROUND-COLOR: transparent; BACKGROUND-REPEAT: repeat-y; BACKGROUND-POSITION: right bottom
}
#headlines .inner {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 16px; PADDING-RIGHT: 16px; BACKGROUND: url(/img/tnet/headlinesbox-top.png) no-repeat right top; PADDING-TOP: 10px
}
#headlines H4 {
	PADDING-BOTTOM: 10px; BACKGROUND: url(/img/tnet/dot.gif) repeat-x center bottom; FONT-WEIGHT: bold
}
#headlines UL {
	MARGIN: 0px
}
#headlines LI {
	WIDTH: 158px
}
#headlines A {
	WIDTH: 158px
}
#headlines A {
	PADDING-BOTTOM: 5px; DISPLAY: block; BACKGROUND: url(/img/tnet/dot.gif) repeat-x center bottom; PADDING-TOP: 2px
}
#headlines .last A {
	BACKGROUND-IMAGE: none
}
#headlines SPAN.date {
	DISPLAY: block; COLOR: #000; FONT-SIZE: 0.71em
}
#headlines SPAN.title {
	DISPLAY: block; COLOR: #000; FONT-SIZE: 0.85em
}
#headlines SPAN.extract {
	PADDING-BOTTOM: 5px; PADDING-RIGHT: 24px; DISPLAY: block; BACKGROUND: url(/img/tnet/headlines-arrow.gif) no-repeat right bottom; FONT-SIZE: 0.85em
}
#headlines A:hover SPAN.date {
	COLOR: #64a6d9
}
#headlines A:hover SPAN.title {
	COLOR: #64a6d9
}
.cform INPUT:hover {
	BACKGROUND: #cedddf 0% 50%; FONT-SIZE: 14px
}
.cform TEXTAREA:hover {
	BACKGROUND: #cedddf 0% 50%; FONT-SIZE: 14px
}
.cform SELECT:hover {
	BACKGROUND: #cedddf 0% 50%; FONT-SIZE: 14px
}
.cform TEXTAREA {
	WIDTH: 150px; FONT-SIZE: 14px; VERTICAL-ALIGN: bottom
}
.cform INPUT {
	WIDTH: 150px; FONT-SIZE: 14px; VERTICAL-ALIGN: bottom
}
.cform INPUT {
	BORDER-BOTTOM: #aaaaaa 1px solid; BORDER-LEFT: #aaaaaa 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BACKGROUND: #f9f9f9 0% 50%; FONT-SIZE: 14px; VERTICAL-ALIGN: top; BORDER-TOP: #aaaaaa 1px solid; BORDER-RIGHT: #aaaaaa 1px solid; PADDING-TOP: 2px
}
.cform TEXTAREA {
	BORDER-BOTTOM: #aaaaaa 1px solid; BORDER-LEFT: #aaaaaa 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BACKGROUND: #f9f9f9 0% 50%; FONT-SIZE: 14px; VERTICAL-ALIGN: top; BORDER-TOP: #aaaaaa 1px solid; BORDER-RIGHT: #aaaaaa 1px solid; PADDING-TOP: 2px
}
.cform SELECT {
	BORDER-BOTTOM: #aaaaaa 1px solid; BORDER-LEFT: #aaaaaa 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BACKGROUND: #f9f9f9 0% 50%; FONT-SIZE: 14px; VERTICAL-ALIGN: top; BORDER-TOP: #aaaaaa 1px solid; BORDER-RIGHT: #aaaaaa 1px solid; PADDING-TOP: 2px
}
.btn {
	BACKGROUND-IMAGE: none; PADDING-BOTTOM: 1px; BORDER-RIGHT-WIDTH: 0pt !important; BACKGROUND-COLOR: #6c6f64; MARGIN-TOP: 2px; MARGIN-BOTTOM: 2px; BORDER-TOP-WIDTH: 0pt !important; BORDER-BOTTOM-WIDTH: 0pt !important; COLOR: #ffffff; FONT-SIZE: 1em; BORDER-LEFT-WIDTH: 0pt !important; PADDING-TOP: 1px
}
.btn:hover {
	BACKGROUND-COLOR: #64a6d9
}
.btn:active {
	BACKGROUND-COLOR: #64a6d9
}
.loginStyle {
	TEXT-ALIGN: right; COLOR: #444; FONT-SIZE: 10pt; VERTICAL-ALIGN: text-bottom
}
.loginInput {
	HEIGHT: 13px; VERTICAL-ALIGN: bottom
}

#submitbtn {
	background-image: url(/img/tnet/login-pages.gif);
	width: 125px;
	height: 19px;
	border: 0;
	padding: 0;
	text-indent: -9000px;
	overflow: hidden;
	position: relative;
}

#submitbtn:hover { 
	background-image: url(/img/tnet/login_over-pages.gif);
}

.loginBox {
	 background: url(/img/tnet/loginBoxBg.jpg) no-repeat left top;
	 -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: 100% 100%;
}

